<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berita | Balikpapan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/berita.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
   <!-- HEADER -->
   <iframe src="header.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
   <!-- HEADER SECTION OVER -->
    
   <section class="hero is-info is-large is-bold">
      <div class="hero-body"></div>
    </section>

    <!-- BERITA CONTENT -->
    <div class="container">
      <!-- START ARTICLE FEED -->
      <section class="articles">
          <div class="column is-18">
              <!-- START ARTICLE -->
              <div class="card article">
                  <div class="card-content">
                      <div class="media">
                          <div class="media-content has-text-centered">
                              <p class="title article-title">Ekowisata Kampung Mangrove Kariangau</p>
                              <div class="tags has-addons level-item">
                                  <span class="tag is-rounded is-primary">@Solihin</span>
                                  <span class="tag is-rounded">May 10, 2020</span>
                              </div>
                          </div>
                      </div>
                      <div class="content article-body ">
                          <p class="has-text-justified">Selain dikenal sebagai kota minyak, Balikpapan Kalimantan Timur yang terletak di pesisir pantai juga menyimpan potensi kekayaan alam dan hasil tangkapan laut yang cukup besar.
                            Penentuan waktu penutupan ini dengan memperkirakan nuansa lebaran, sehingga menunda keinginan warga untuk keluar rumah. Pemkot Balikpapan meminta warga untuk tetap berada di rumah selama lebaran.
                            Perkembangan situasi penyebaran Covid-19 di Kota Balikpapan mulai menurun. Jumlah pasien sembuh lebih banyak dari pasien terkonfirmasi positif.
                          </p>
                          <p class="has-text-justified">
                            Kini objek wisata yang berada di Balikpapan Utara ini bisa diinikmati warga, pelancong dari dalam negeri maupun luar negeri.
                            Pembangunan Kampung Mangrove Kariangau ini sudah cukup lama, dan baru terlaksana hari ini, Minggu (21/7/2019).
                            Pertamina Marketing Operation Region VI Kalimantan melalui Depot LPG Balikpapan memberikan bantuan CSR pengembangan wisata dan pemberdayaan masyarakat melalui program Ekowisata Mangrove Kariangau.
                            Terletak di kawasan jembatan ulin Kariangau, Walikota Balikpapan Rizal Effendi bersama dengan Ali Akbar, Operation Head Depot LPG Balikpapan meresmikan rumah makan apung sebagai salah satu bagian dari program Ekowisata Mangrove Kariangau.
                            Menurut Ali, program CSR Depot LPG Balikpapan dilaksanakan karena melihat potensi pemberdayaan masyarakat dan pengembangan wisata di kawasan jembatan ulin Kariangau.
                            Ali menjelaskan bahwa program CSR yang dilaksanakan berupa budidaya kepiting bakau, pelatihan pembuatan produk makanan olahan, dan pembangunan rumah makan berbentuk perahu yang akan menjadi tempat pemasaran hasil produk tambak dan makanan olahan buatan masyarakat. 
                            Sasaran dari program CSR Depot LPG Balikpapan ini adalah masyarakat RT 01 & 02 Kariangau.
                          </p>
                          <p class="has-text-justified">
                            “Penerima manfaat program ini tidak hanya kaum pria yang tergabung dalam kelompok nelayan semangat baru Kariangau, namun juga dirasakan oleh para ibu rumah tangga yang tergabung dalam kelompok Kariangau Lestari”, lanjut Ali.
                            Dalam pelaksanaan bantuan CSR ini Pertamina yang bekerjasama dengan Econatural berupaya selalu melibatkan masyarakat mulai tahap perencaaan hingga pelaksanaan.
                            Pembangunan keramba dan rumah makan tersebut dikerjakan secara gotong royong oleh masyarakat Kariangau.
                            Sehingga diharapkan akan menumbuhkan rasa memiliki dari masyarakat terhadap bantuan yang telah diberikan oleh Pertamina.
                            Dalam kegiatan peresmian bantuan CSR Depot LPG Balikpapan tersebut, Rizal Effendi menyampaikan harapannya agar keberadaan rumah makan apung di Kariangau mampu menjadi ikon wisata baru di wilayah Kariangau dan dapat berdampak pada peningkatan kesejahteraan masyarakat Kariangau.
                            Selain itu, Rizal juga berpesan agar masyarakat terus aktif menjaga kelestarian mangrove di wilayah tersebut, karena selain melindungi lingkungan, mangrove juga merupakan sumber pakan untuk kepiting yang dibudidayakan.
                            Sehingga keberlangsungan program ini juga sangat bergantung pada kelestarian kawasan mangrove itu sendiri.
                            Dalam kesempatan yang sama, Rizal juga mengunjungi keramba dan melakukan penebaran bibit kepiting serta menyerahkan secara simbolis bantuan bibit mangrove yang akan ditanam untuk menambah kelestarian kawasan.
                            Depot LPG Balikpapan adalah satu-satunya supply point untuk pengisian LPG yg dipasarkan di Kalimantan Timur dan Kalimantan Utara.
                            Penyaluran LPG 3 kg untuk daerah Balikpapan, Penajam dan Kutai Kertanegara rata-rata 30.000 tabung per hari atau +- 90 MT.
                          </p>
                          <p class="has-text-justified">
                            Selain itu, penyaluran LPG 3 kg untuk wilayah Tarakan, Nunukan dan Sebatik juga di supply dari Depot LPG Balikpapan menggunakan moda angkutan laut.
                            Yaitu LCT (landing craft tanker) dengan kapasitas LCT +- 35.000 tabung atau 105 MT dalam 1 kali angkut dengan rata-rata pengangkutan dalam 1 bulan adalah 5-6 kali.
                            Selain pengisian tabung LPG 3 kg, di depot LPG balikpapan juga melakukan pengisian Skid Tank yang dikirim dalam bentuk mix bulk ke SPBE yg berada di Kalimantan Timur (Balikpapan, Samarinda, Kukar, Penajam dan Sangkulirang).
                            Yang nantinya SPBE tersebut sebagai lokasi pengisian tabung yg selanjutnya akan dikirimkan ke seluruh wilayah Kalimantan Timur dan Kalimantan Utara. Rata-rata penyaluran LPG mix bulk ke SPBE sebesar 400 MT per hari
                          </p>
                      </div>
                  </div>
              </div>
              <!-- END ARTICLE -->
              
            </div>

      </section>
      </div>
      <!-- ARTICLE SECTION END -->

    <div class="section">
        <div class="container">            

          <div id="newComment">
            <div v-for="comment in items"> 
              <div class="card">
                <div class="card-content">
                  <p>
                    <h1 class="title is-5">{{comment.user}}</h1>
                    <div class="tags">
                      <span class="tag">{{comment.tgl}}</span>
                    </div>
                    <br>
                        {{comment.isi}}                            
                    <br>                      
                  </p>
                  <br>
                  </div>   
              </div>    
              <br>                                  
            </div>      
            <br>
            <br>
            <article class="media">               
              <div class="media-content">
                <div class="field">
                  <div class="columns">
                    <div class="column is-4">
                      <input type="text" v-model="txtNama" class="input is-primary is-medium" placeholder="Masukkan Nama">
                    </div>
                  </div>
                </div>
                <div class="field">
                  <p class="control">
                    <textarea v-model="txtComment" class="textarea is-primary is-medium" placeholder="Add a comment"></textarea> 
                  </p>
                </div>                
                  <p class="control">
                    <button v-on:click="addComment()" class="button is-primary" id="postComment">Post comment</button>
                  </p>
                </div>
              </div>
            </article>
          </div>
        
           
                     
        </div>
    </div>    

</body>
 <!-- VUE.JS FOR comment SECTION -->
 <script src="assets/Javascript/berita.js"></script>
<!--FOOTER-->
<iframe src="footer.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
<!--FOOTER SECTION OVER-->

</html>