<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinasi | Balikpapan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="assets/css/destinasi.css">

</head>

<body>
    <!-- HEADER -->
    <iframe src="header.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
    <!-- HEADER SECTION OVER -->
    
    <section class="hero is-info is-large is-bold">
        <div class="hero-body">
            <div class="bg-text">
                <h1 class="title">PANTAI LAMARU</h1>
            </div>
        </div>
    </section>


    <div class="container">
        <!-- START ARTICLE FEED -->
        <section class="articles">
            <div class="column is-18">
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">Pantai Lamaru, Pantai Berpagar Cemara</p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-primary">@pemkotBalikpapan</span>
                                    <span class="tag is-rounded">May 10, 2020</span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            <p>Tidak banyak pantai yang dapat kita temui di Kalimantan karena struktur tanah di pulau ini rata-rata berawa dan lumpur sehingga menyebabkan banyak dari bagian pinggir laut di pulau Kalimantan di tumbuhi oleh tumbuh-tumbuhan bakau.</p>
                            <p>Bagi penduduk Kalimantan, khususnya penduduk Kalimantan Timur, wisata pantai adalah wisata yang langka, dan akan sangat menyenangkan apabila terdapat pantai yang dekat dengan pusat kota. Mengingat luasnya daerah Kalimantan Timur, maka akses menuju lokasi pantai yang dekat akan menjadi nilai lebih. Dengan akses yang mudah, objek wisata pantai 
                              tentu akan menjadi primadona tujuan wisata pantai bagi wisatawan lokal terlebih pada hari-hari libur.</p>
                            <p>Salah satu pantai yang menarik dan banyak dikunjungi adalah Pantai Lamaru, sebuah pantai dengan pasir putih yang indah dan pemandangan unik yang tesaji di sepanjang pantai ini.</p>

                            <h3 class="has-text-centered">Objek Wisata Pantai Lamaru</h3>
                            <p>Tidak sulit menyebutkan nama pantai-pantai yang terdapat di Kalimantan Timur karena jumlahnya yang sangat sedikit sehingga memungkinkan untuk dihitung hanya dengan jari. Tetapi jumlahnya yang sedikit tidak serta-merta menjadikan 
                              pantai-pantai di Kalimantan tidak menarik.</p>
                            <p>Salah satu kelebihan pantai ini dibandingkan dengan pantai yang lain adalah kelandaian pantainya, pasir putih yang memenuhi pantai dengan air laut yang dangkal hingga beberapa puluh meter. Kelebihan itu semakin lengkap dengan bibir pantainya yang luas sehingga dapat dimanfaatkan untuk berbagai kegiatan bermain, seperti bermain bola, voli pantai dan lain sebagainya. 
                              Jangan takut untuk mengajak putra-putri Anda bermain air laut, kondisi gelombang yang sangat bersahabat alias kecil akan 
                              memberikan rasa aman tersendiri bagi para orang tua untuk mengajak anak-anak mereka bermain-main dengan air laut.</p>  

                            <h3 class="has-text-centered">Lokasi Pantai Lamaru</h3>
                            <figure class="image">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31911.546919332257!2d116.97847031715067!3d-1.1999467439837748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2df150191c1351a5%3A0x83ae8fa24a44dd79!2sLamaru%20Beach!5e0!3m2!1sen!2sid!4v1591163425901!5m2!1sen!2sid" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
                              </iframe>
                            </figure>

                            <h3 class="has-text-centered">Akses Pantai Lamaru</h3>
                            <p>Dari pusat Kota Balikpapan Anda dapat berkendara menuju Jalan Sudirman dan Iswahyudi atau Jalan Ring Road. 
                              Lanjutkan perjalanan Anda menuju dekat Bandara Sepinggan. Lanjutkan perjalanan Anda ke arah Semboja atau Senipah. 
                              Kira-kira 15 Kilometer dari bandara, setelah melewati komplek angkatan udara Anda harus berbelok ke kanan. 
                              Kemudian Anda akan menemukan gapura menuju Pantai Lamaru.</p>
                            
                              <h3 class="has-text-centered">Tarif Masuk Pantai Lamaru</h3>
                              <p>Tarif masuk ke Pantai Lamaru Rp. 10.000,-/orang. 
                                Biaya parkir kendaraan roda dua Rp. 5.000,- dan kendaraan roda empat 15.000,-.
                              </p>

                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->
                
              </div>

        </section>
        </div>
        <!-- ARTICLE SECTION END -->

        <div class="section">
          <div class="container">            
  
                <div id="newComment">
                  <div v-for="comment in items"> 
                      <div class="card">
                          <div class="card-content">
                            <strong class="title is-5">{{comment.user}}</strong>                                
                            <p>{{comment.tgl}}</p>
                            <br>
                            <div class="tags">
                            <span class="tag">Recommended</span>
                            <img class="tag" src="assets/image/like.png" alt="Recommended">                            
                            </div>
                            <br> 
                            <p>{{comment.isi}}</p>                            
                          </div>
                      </div>
                      <br>                                
                  </div>      
              </div>
          
              <!-- VUE.JS FOR comment SECTION -->
              <script>
                new Vue({
                  el: '#newComment',
                  data: {
                    items: [
                      {user: "Githa Zul Ariefa", tgl:"16 Juni 2020", isi: "Pantainya asik, ada kantor sar nya fan sepertinya dikelola oleh bumi senyiur group hotel, karena di fasilitas umumnya ada lambangnya senyiur. Di tempat ini beda dengan pantai manggar yang banyak penjual makanan gelar tikar makan lesehan dibawah pohon pinus, disini hanya warung warung namun tempatnya luas dan asik untuk kemping dan prewed (dengan biaya tertentu), ada juga aula aula dan balai pertemuan yang disewakan. Ada juga persewaan golf cart,ban pelampung,tenda dll. Pantainya lumayan bersih dan rindang oleh pohon pohon cemaranya, fasilitas umum gratis sudah include fee masuk 25k perorang dan kebetulan saya naik mobil bayar masuknya 20k dan bebas parkir di dalam."},
                      {user: "Rommy Christian", tgl:"26 May 2020", isi: "Pemandangannya bagus, harga tiket masuk 25 rbu untuk mtor khusus hari sabtu dan minggu untuk hari biasa hanya 20 rbu. cocok sekali untuk rekreasi keluarga, menikmati liburan bersama kluarga, teman dan kerabat,, ada banana boats dan bermacam macam mainan pantai sperti layang-layang, juga ada penyewaan ban renang plus tikar untuk yang ingin bersantai menikmati makanan ringan atau sekedar bersantai makan-makan,, pantai ny bersih dan terawat, salut untuk pemda kota balikpapan yang telah memperhatikan aset daerahnya."},
                      {user: "Henry Setiawan",tgl:"16 January 2020", isi: "Recommended as a gathering venue. Tempatnya cocok untuk dijadikan rekreasi atau berkumpul bersama keluarga dan teman-teman. Banyak pohon-pohon di pinggir pantai yang bisa dijadikan sebagai tempat untuk menggelar tikar dan berteduh."},
                      {user: "Nur Kholisah",tgl:"7 July 2020", isi: "Untuk harga tiket masuk nya agak mahal ya kalo saya bandingkan dengan tiket masuk ke wisata pantai di pulau Jawa… Tapi gak papa sih kalo sebanding dengan sarana nya semoga makin baik lg ya"}
                    ]
                  }
                })
              </script>
            <br>
            <br>
            <article class="media">
              <div class="media-content">
                <div class="field">                  
                  <div class="control">            
                    <div class="columns">
                      <div class="column is-4">
                        <input type="text" class="input is-primary is-medium" placeholder="Masukkan Nama">
                      </div>
                    </div>         
                    <textarea class="textarea is-primary is-medium" id="commentNew" v-model="message" placeholder="Add a comment"></textarea> 
                  </div>
                </div>
                <div class="field">
                  <p class="control">                        
                    <button class="button is-primary"><i class="fa fa-thumbs-up"></i></button>
                    <button class="button is-primary"><i class="fa fa-thumbs-down"></i></button>
                  </p>
                </div>
              </div>
            </article>
          </div>
      </div>

</body>


<!--FOOTER-->
<iframe src="footer.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()"></iframe>
<!--FOOTER SECTION OVER-->
</html>