html {
  scroll-behavior: smooth;
}
// .tes {
//   padding: 5rem 1.5rem;
// }
#home{
    > .container{
        width: 100%;
        height: auto;
        padding: 5rem 1rem;
    }
}
.video-bpp {
//   padding: 5rem;
  width: 100%;
  figure {
      width: 100%;
    iframe {
      width: 100%;
      height: 30rem;
    }
  }
}

@media screen and(max-width: 768px) {
  #video {
    width: 100%;
    height: auto;
  }

  .video-bpp {
    // width: 100%;
    // width: 500px;
    figure {
      iframe {
        width: 38rem;
      }
    }
  }
}
